/* 重置基础样式 */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
html, body {
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased; /* 平滑字体 */
    -moz-osx-font-smoothing: grayscale; /* macOS下平滑字体 */
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit; /* 避免链接继承不必要的颜色 */
    transition: all 0.5s;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
   height: 100%;
   width: 100%;
    display: block; /* 防止底部出现空白 */
}
blockquote, dl, dd, ol, ul, figure, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4f4;
}

/* 顶部样式 */
.container{
    width: 100%;
    /* height: 100px; */
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.content{
    width: 1600px;
    margin: 0 auto;
}
.top-banner{
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 30px 0;
    align-items: center;
    color: white;
}
.top-banner ul{
    width: 600px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.top-banner ul li{
    transition: all 0.5s;
}
.top-banner ul li:hover{
    transform: scale(1.2);
    color: #32a08f;
}


 /* banner */
 .banner-wrapper{
    width: 100%;
    height: 500px;
    background-size: 100%;
    /* margin-top: 100px; */
    padding-top: 200px;
 }
/* 板块标题 */
.tool-title{
    font-size: 50px;
     letter-spacing: 70px;
    text-align: center;
     margin-bottom: 40px ;
    
 }
.banner-title{
    font-size: 80px;
    letter-spacing: 70px;
    text-align: center;
     /* margin-bottom: 40px */
     color: #cdeee9;
    
}

 /* 底部部分 */
.footer-wrapper{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    height: 300px;
    padding:50px 0px ;
    color: #eee7e7;
    }
    .footer{
        display: flex;
        justify-content: space-between;
    }
    .footer .left-text{
        width: 600px;
        
        /* line-height: 30px; */
        font-size: 14px;
    }
    .footer-title{
        color: white;
        margin-bottom: 10px;
    }
    .footer .left-text a{
        color: white;
    }
    .footer .left-text a:hover{
    
       color: #32a08f;
    }
    .footer .nav-tips li{
        text-align: center;
        margin: 10px 0px ;
    }
    .footer .nav-tips a:hover{
        color: #32a08f;
    }
    .contect{
        width: 800px;
        /* padding-left: 200px; */
        display: flex;
        justify-content: space-between;
    }
    .contect input{
        width: 200px;
        height: 40px;
        display: block;
        margin-bottom: 30px;
    }
    .contect button{
        width: 200px;
        height: 40px;
        font-size: 25px;
        letter-spacing: 20px;
        color: white;
        background-color: #32a08f;
        font-weight: 600;
        transition: all 1s;
    }

    .contect button:hover{
        color: #32a08f;
        background-color: white;
    }